<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <title>login</title>
</head>
<body>
    <header class="main-header">
        <div class="main-header-top-form">
            <div class="logo">
                <a href="/"><img class=logo src="/img/logo-mercado-liebre.svg" alt="logo de Mercado Liebre"></a>
            </div>
            <div>
                <img src="/img/icon-help.svg" class="icon-help-header" alt="ícono">
            </div>
        </div>
    </header>

    <form action="#" method="post" class="form-container">
        <div class="title-container">
            <h1 class="form-title">¡Registrate ahora y accedé a un mundo de oportunidades!</h1>
        </div>
        <div class="item-container">
            <label for="nombre">Nombre</label>
            <br>
            <input type="text" name="nombre" id="nombre" class="entry">
        </div>
        <div class="item-container">
            <label for="apellido">Apellido</label>
            <br>
            <input type="text" name="apellido" id="apellido" class="entry">
        </div>
        <div class="item-container">
            <label for="usuario">Ingresa un email como usuario</label>
            <br>
            <input type="email" name="usuario" id="usuario" class="entry">
        </div>
        <div class="item-container">
            <label for="password">Ingresá una clave</label>
            <br>
            <input type="password" name="password" class="entry">
        </div>
        <div class="item-container">
            <label for="pas">Confirmar clave</label>
            <br>
            <input type="password" name="password" class="entry">
        </div>
        <div class="item-container">
            <button type="submit" class="entry-buttom">Registrarse</button>
        </div>
    </form>

    <footer class="footer-form">
        <p>Copyright © 1999-2020 Mercado Liebre S.R.L.</p>
    </footer>
</body>